# Ignore all pycache folders
**/__pycache__/

# Ignore code editor configuration folders
.vscode
.idea

# Ignore folders
downloads
temporary_files

# Ignore download text file
to_download.txt

# Ignore configuration file
Configuration.json

# Build artifacts
build
dist
*.spec