# Ignore all pycache folders
**/__pycache__/

# Ignore code editor configuration folders
.vscode
.idea

# Ignore folders
downloads
temporary_files
logs

# Ignore download text file
to_download.txt

# Ignore configuration file
configuration.json

# Ignore build artifacts
build
dist
*.spec